openapi: 3.0.3
info:
  title: JIZT API
  description: >
    JIZT API provides an easy way of summarizing your text
    using state-of-the-art NLP models.
  contact:
    name: Diego Miguel
    url: https://www.diegomiguel.me
    email: jizt@diegommiguel.me
  license:
    name: GPL-3.0 License
    url: https://www.gnu.org/licenses/gpl-3.0.en.html 
  version: 0.1.0
servers:
  - url: https://api.jizt.it/v1
    description: The production API server
paths:
  /summaries/plain-text/{summaryId}:
    get:
      operationId: getSummary
      description: Return a summary by id
      tags:
        - summaries
      parameters:
        - name: summaryId
          in: path
          required: true
          description: The id of the summary
          schema:
            type: string
      responses:
        '200':
           description: The summary to be returned
           content:
             application/json:
               schema:
                 $ref: '#/components/schemas/Summary'
        '404':
           description: The summary requested does not exist
           content:
             application/json:
               schema:
                 $ref: '#/components/schemas/SummaryNotFound'
        '502':
           description: Server error
           content:
            text/html; charset=utf-8: 
               schema:
                 $ref: '#/components/schemas/ServerError'
        default:
          description: Unexpected error
          content:
            text/plain; charset=utf-8: 
              schema:
                type: string
  /summaries/plain-text:
    post:
      operationId: requestSummary
      description: Request a summary of a text
      tags:
        - summaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummaryRequest'
        required: true
      responses:
        '200':
          description: >
            The summary request has been accepted and
            will begin being processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedSummaryRequest'
        '502':
          description: Server error
          content:
            text/html; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/ServerError'
        default:
          description: Unexpected error
          content:
            text/plain; charset=utf-8: 
              schema:
                type: string
  /healthz:
    get:
      operationId: checkHealth
      description: Health check
      tags:
        - health
      responses:
        '200':
           description: The service is alive
           content:
             text/plain; charset=utf-8: 
               schema:
                 type: string
        '502':
           description: Server error
           content:
            text/html; charset=utf-8: 
               schema:
                 $ref: '#/components/schemas/ServerError'
        default:
          description: Unexpected error
          content:
            text/plain; charset=utf-8: 
              schema:
                type: string
components:
  schemas:
    AcceptedSummaryRequest:
      description: An accepted request for a summary
      type: object
      properties:
        summary_id:
          description: The id of the summary
          type: string
      required:
        - summary_id
    Params:
      description: The summary generation parameters
      type: object
      properties:
        relative_max_length:
          type: number
          format: float
          minimum: 0.0
          maximum: 100.0
        relative_min_length:
          type: number
          format: float
          minimum: 0.0
          maximum: 100.0
        do_sample:
          type: boolean
        early_stopping:
          type: boolean
        num_beams:
          type: int
          format: int32
        temperature:
          type: number
          format: float
        top_k:
          type: int
          format: int32
        top_p:
          type: number
          format: float
        repetition_penalty:
          type: number
          format: float
        length_penalty:
          type: number
          format: float
        no_repeat_ngram_size:
          type: int
          format: int32
      required:
        - relative_max_length
        - relative_min_length
      externalDocs:
        description: More info on the parameters here
        url: "https://huggingface.co/transformers/main_classes/model.html#\
          transformers.generation_utils.GenerationMixin.generate"
    Summary:
      type: object
      properties:
        started_at:
          description: >
            The timestamp when a summary with the same specified
            source, model and parameters was first requested
          type: string
          format: date-time
        ended_at:
          description: >
            The timestamp when a summary with the same specified
            source, model and parameters was first completed
          type: string
          format: date-time
        status:
          description: The status of the summary
          enum:
            - preprocessing
            - encoding
            - summarizing
            - postprocessing
            - completed
          type: string
        output:
          description: The generated summary
          type: string
        params:
          $ref: '#/components/schemas/Params'
      required:
        - started_at
        - ended_at
        - status
        - output
        - params
    ServerError:
      type: string
    SummaryNotFound:
      type: object
      properties:
        errors:
          type: string
      required:
        - errors

# Useful links:
# - https://github.com/APIs-guru/openapi-directory/blob/master/APIs/anchore.io/0.1.16/openapi.yaml
# - https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md
